<a href="https://colab.research.google.com/github/PathaniaOO/daily-python-practice/blob/main/Python_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def gcd(a,b):
  if b==0:
    return a
  return gcd(b,a%b)
def lcm (a,b):
  return a*b//gcd(a,b)


print(gcd(10,20))
print(lcm(10,20))

10
20

In [16]:
def mul_table(x):
  result=[x*i for i in range(1,11)]
  return result
print(mul_table(2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
def cel_to_farehn(n):
  return (n*9/5)+32

print(cel_to_farehn(70))

158.0

In [23]:
def pow_of(x,y):
  if x==0 and y==0:
    return 0
  total=[]
  for i in range(x):
    result=i**y
    total.append(result)
  return total

print(pow_of(10,2))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
def check_number_perfect(start,end):
  return[i*i for i in range (start,end+1) if start<=i*i<=end]

print(check_number_perfect(1,100))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
def first_n(n):
  return n*(n+1)//2

print(first_n(10))

55

In [31]:
def add(a,b):
  return a+b
def Subtract(a,b):
  return a-b
def multiply(a,b):
  return a*b
def Divide(a,b):
  if b==0:
    return "Invalid"
  return a/b
def calci():
  print('Select Operation')
  print("1.Add\n2.Subtract\n3.Multiply\n4.Division")
  choice=int(input("Enter Choice:"))

  a=float(input("Enter First Number:"))
  b=float(input("Enter Second Number:"))

  if choice == 1:
        print("Result:", add(a, b))
  elif choice == 2:
        print("Result:", Subtract(a, b))
  elif choice == 3:
        print("Result:", multiply(a, b))
  elif choice == 4:
        print("Result:", Divide(a, b))
  else:
        print("Invalid choice!")

calci()

Select Operation
1.Add
2.Subtract
3.Multiply
4.Division
Enter Choice:1
Enter First Number:90
Enter Second Number:40
Result: 130.0

In [34]:
def product_of(n):
  result=list(map(lambda x:x*x,n))
  return result

print(product_of([1,2,3,4,5]))

[1, 4, 9, 16, 25]